.section.quote {
    display: flex;
    flex-direction: row;


    .qoute-text {
        font-size: 1.2em;
        line-height: 1.3;
        color: var(--text-color);

        svg {
            color: var(--primary-color);
            font-size: 1.5em;
            margin-right: .5em;
        }
    }

    .qoute-auther {
        color: var(--text-light);
        text-align: right;
        margin-top: 1em;
    }
    .my-image {
        width: 100px;
        /* Adjust the width as needed */
        height: auto;
        /* Maintain aspect ratio */
        border-radius: 50%;
        /* Make the image round */
        margin-bottom: 10px;
        /* Add some margin below the image */
    }
}