.intial-logo {
    margin: auto;
    display: block;
    width: 700px;
    height: auto;
    margin-top: 20px;
    
}
.primedeals-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
}
.register-prime-img {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
}
.default-images-container{
    display: flex;
    flex-direction: center;
    justify-content: center;
}
.loading-container{
    display: flex;
    flex-direction: center;
    justify-content: center;
}